/MiniPaint_AdvancedF/dist/
/test/
/build/
/build.xml/
/MiniPaint_AdvancedF/nbproject/
/MiniPaint_AdvancedF/build/
/MiniPaint_AdvancedF/test/
/MiniPaint_AdvancedF/build.xml/
/MiniPaint_AdvancedF/
/MiniPaint_AdvancedF/manifest.mf/
/out/
/lab8.iml/
